footer{
  width: 100%;
  background: #007bff;
  bottom: 0;
}

header{
  width: 100%;
  background: #007bff;
  top: 0;
}

.mainlogo{
  display: block;
  margin: auto;
}

.profileh2{
  font-size: 2.5em;
  color: white;
  text-align: center;
  background-color: #007bff;
  padding: 10px; 
}

#ownimage{
  max-height:50% ;
  max-width: 50% ;
  display: block;
  margin: auto;
  }

.usernamedisplay{
  text-align: center;
}

.ratingpar{
  text-align: center;
}

#groupstatus{
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#groupdisplay{
  width: 350%;
  white-space:nowrap;
}

.groupuserdiv{
  box-shadow: 1px 1px 10px #999;
  padding: 1.5em 3em;
  margin: 2px;
  max-height: 200px;
  cursor: pointer;
  display:inline-block;
  display:inline;/* For IE7*/
  zoom:1;/* For IE7*/
  vertical-align:top;
}

.groupimage{
  margin: 0px auto;
  max-height:60%;
  max-width:60%;
  display: block;
  margin: auto;
}

.ratingpar span{
  color:#007bff;
  font-size:2em;
}

#profilerating span{
  color:#007bff;
  font-size:3em;
}

.card-block{
  padding: 10px;
}

header, footer{
  padding-left: 10px;
  color: white;
}

.card{
  margin-top: 10px;
  margin-bottom: 10px;
}

h1{
  font-size: 18px !important;
  font-weight: 300 !important;
}

.popup{
  position: fixed;
  top: 100px;
  left: 35%;
  background: #007bff;
  padding: 25px;
  color: white;
}

.hidden{
  display: none;
}

.btn{
  color: white !important;
}

.hide{
    display: none;
}

.iconActive{
    color: gold;
}

.blue-bg{
    background: #007bff;
}

#commentText{
    padding: 10px;
}

span.tagred {
	background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
}

.tagblue {
	background: linear-gradient (right, #2d5385, #42c7f4);
}

.tagyellow {
  background: linear-gradient (right, #fccc00, #a4c03a);
}

.taggreen {
	background: linear-gradient (right, #059447, #f9eca1);
}